<a href="<%= entry.url %>" class="list-group-item" target="_blank">
	<div class="row">
		<div class="col-md-10 col-xs-12">
			<h4 class="list-group-item-heading"><%= entry.title %></h4>
			<h5 class="list-group-item-heading"><%= entry.source %>
				<small>
					<span class="glyphicon glyphicon-time"></span>
					<%= entry.published.localtime.to_s(:long) %>
				</small>
			</h5>			
		</div>

		<div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
			<% if entry.categories.any? then %>			    		
				<% entry.categories.each do |category| %>
					<span class="badge">
						<%= category %>
					</span>
				<% end %>			    		
			<% end %>
		</div>		

		<div class="col-md-2 col-xs-12" style="margin-bottom: 10px;">
			<%= image_tag entry.image, width: '100%' %>
		</div>		

		<div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
			<p class="list-group-item-text">
				<%= entry.summary %>
			</p>
		</div>
	</div>
</a>