<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
<head>
  <title>The Daily Feed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	 <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <%= link_to root_url do %>
              <%= image_tag 'logo.png', class: "img-responsive", width: "90%", style: "margin: 0 auto;" %>
            <% end %>
          </div>
        </div>
      </div>    
  	<%= render 'layouts/navbar' %>
  	<%= yield %>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <hr>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="padding-bottom:48px;">
              <% link_to 'https://github.com/tuomastirronen/uutiset', 'https://github.com/tuomastirronen/uutiset' %>
            </div>            
          </div>          
        </div>
      </div>
    </div>
  </div>
</body>
</html>
